/* src/components/Header.css */

.header {
    background-color: #3498db;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
  }
  
  /* You can add more CSS styles as needed */
  